<section class="cart-center">
  <div class="backdrop"></div>
  <div class="cart">
    <h3 class="cart-title">Your Cart</h3>
    <div class="cart-content">
      <!-- single item -->
      <div class="cart-item">
        <img class="cart-item-img" src="./images/product-2.jpeg" />
        <div class="cart-item-desc">
          <h4>product title</h4>
          <h5>$ 12.99</h5>
        </div>
        <div class="cart-item-controller">
          <i class="fa-solid fa-minus"></i>
          <p>1</p>
          <i class="fa-solid fa-plus"></i>
          <i class="fas fa-trash-alt"></i>
        </div>
      </div>
    </div>
    <div class="cart-footer">
      <span class="cart-total">total price : 90 $</span>
      <button class="btn clear-cart">clear cart</button>
      <button class="btn cart-item-confirm">confirm</button>
    </div>
  </div>
</section>
