<section class="products">
  <div class="products__wrapper">
    <h1 class="products__title">Our Products</h1>
    <div class="products__grid">
      <!-- single products -->
      <div class="products__item">
        <div class="product__img-container">
          <img src="./images/product-1.jpeg" alt="" />
        </div>
        <div class="products__details">
          <p class="products__name">test product</p>
          <p class="products__price">99.99$</p>
        </div>
      </div>
    </div>
  </div>
</section>
